
* { margin: 0; }

.mySlides {display:none;}

.w3-center {
    margin-top: 10px;
    margin-left: 570px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.w3-content {
    margin-left: 180px;
}

#inspir {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 600px;
    margin-bottom: 20px;
}

#divisoria {
    width: 80%;
    margin-left: 150px;
    margin-top: 15px;
    height: 2px;
    left: 16px;
    border: 1px solid #726868;
    box-shadow: 0 0 0.1em black;
}

#button1 {
    height: 36px; width: 97px; border: 1px solid #CCCCCC; box-sizing: border-box; border-radius: 3px; padding: 0px;
}

header {
    display: flex;
    height: 100px;
    width: 100%;
    background-color: rgb(163, 163, 162);
    background-color: whitesmoke;
}

.linha1-left {
    flex: 2;
}

.linha1-rigth {
    flex: 5;
    width: 100%;
}

.menu-space ul {
    display: flex;
    list-style: none;
    margin-top: 30px;
}

#img-icon1, #img-icon2, #img-icon3, 
#img-icon4, #img-icon6 {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#img-icon5 {
    width: 60px;
    height: 70px;
    cursor: pointer;
    margin-top: -10px;
}



@media (min-width: 768px) {

#img-icon1:hover {
    height: 65px;
    width: 70px;
}

#img-icon2:hover {
    height: 65px;
    width: 70px;
}

#img-icon3:hover {
    height: 65px;
    width: 70px;
} 

#img-icon4:hover {
    height: 65px;
    width: 70px;
}

#img-icon5:hover {
    height: 85px;
    width: 70px;
    margin-top: -10px;
}

#img-icon6:hover {
    height: 65px;
    width: 70px;
}

}

img {
    margin-left: 100px;
}

.linha2 {
    height: 100vh;
    width: 100%;
    background-color: rgb(214, 208, 208);
    background-color: white;
}

.produto1-space {
    margin-top: 30px;
    margin-left: 80px;
    height: 300px;
    width: 170px;
    display: flex;
    flex-direction: column;
}

#produto1-img {
    margin-left: -15px;
    height: 170px;
    width: 180px;
}

#produto1-text1 {
    margin-top: 10px;
    margin-left: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

#produto1-text2 {
    margin-top: 2px;
    margin-left: 30px;
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 15px;
}

#produto1-text3 {
    margin-top: 5px;
    margin-left: 20px;
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 15px;
}

.linha3, .teste1, .teste2, .teste3 {
    display: flex;
    flex-direction: row;
}

.produto2-space {
    margin-top: 30px;
    margin-left: 80px;
    height: 300px;
    width: 170px;
    display: flex;
    flex-direction: column;
}

#produto2-img {
    margin-left: -15px;
    height: 170px;
    width: 180px;
}

#produto2-text1 {
    margin-top: 10px;
    margin-left: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

#produto2-text2 {
    margin-top: 2px;
    margin-left: 30px;
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 15px;
}

#produto2-text3 {
    margin-top: 5px;
    margin-left: 20px;
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 15px;
}

.produto3-space {
    margin-top: 30px;
    margin-left: 80px;
    height: 300px;
    width: 170px;
    display: flex;
    flex-direction: column;
}

#produto3-img {
    margin-left: -15px;
    height: 170px;
    width: 180px;
}

#produto3-text1 {
    margin-top: 10px;
    margin-left: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

#produto3-text2 {
    margin-top: 2px;
    margin-left: 30px;
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 15px;
}

#produto3-text3 {
    margin-top: 5px;
    margin-left: 20px;
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 15px;
}

.produto4-space {
    margin-top: 30px;
    margin-left: 80px;
    height: 300px;
    width: 170px;
    display: flex;
    flex-direction: column;
}

#produto4-img {
    margin-left: -15px;
    height: 170px;
    width: 180px;
}

#produto4-text1 {
    margin-top: 10px;
    margin-left: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

#produto4-text2 {
    margin-top: 2px;
    margin-left: 30px;
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 15px;
}

#produto4-text3 {
    margin-top: 5px;
    margin-left: 20px;
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 15px;
}

.produto5-space {
    margin-top: 30px;
    margin-left: 80px;
    height: 300px;
    width: 170px;
    display: flex;
    flex-direction: column;
}

#produto5-img {
    margin-left: -15px;
    height: 170px;
    width: 180px;
}

#produto5-text1 {
    margin-top: 10px;
    margin-left: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

#produto5-text2 {
    margin-top: 2px;
    margin-left: 30px;
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 15px;
}

#produto5-text3 {
    margin-top: 5px;
    margin-left: 20px;
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 15px;
    
}


#text-sonho {
    margin-top: 15px;
    margin-bottom: 20px;
    height: 50px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}

.linha4 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 50px;
}

.motor1-space, .motor2-space, 
.motor3-space, .motor4-space, .motor5-space {
    margin-top: 30px;
    margin-left: 80px;
    height: 300px;
    width: 170px;
    display: flex;
    flex-direction: column;
}

#motor1-img, #motor2-img,
 #motor3-img, #motor4-img, #motor5-img {
    margin-left: -15px;
    height: 200px;
    width: 180px;
}

#motor1-text1, #motor2-text1, 
#motor3-text1, #motor4-text1, #motor5-text1 {
    margin-top: 10px;
    margin-left: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

#motor1-text2, #motor2-text2,
 #motor3-text2, #motor4-text2, #motor5-text2 {
    margin-top: 2px;
    margin-left: 30px;
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 15px;
}

#motor1-text3, #motor2-text3,
 #motor3-text3, #motor4-text3, #motor5-text3 {
    margin-top: 5px;
    margin-left: 20px;
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 15px;
}

.linha5 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 50px;
}

.jaqueta1-space, .capacete1-space, .jaqueta2-space, .jaqueta3-space, .capacete2-space {
    margin-top: 30px;
    margin-left: 80px;
    height: 300px;
    width: 170px;
    display: flex;
    flex-direction: column;
}

#jaqueta1-img, #jaqueta2-img, #jaqueta3-img {
    margin-left: -15px;
    height: 200px;
    width: 180px;
}

#capacete1-img{
    margin-left: -15px;
    height: 160px;
    width: 180px;
}

#capacete2-img {
    margin-left: -15px;
    height: 170px;
    width: 180px;
}

#capacete1-text1, #capacete2-text1 {
    margin-top: 10px;
    margin-left: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

#jaqueta1-text1, #jaqueta2-text1, #jaqueta3-text1 {
    margin-top: 10px;
    margin-left: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

#capacete1-text2, #capacete2-text2 {
    margin-top: 2px;
    margin-left: 30px;
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 15px;
}

#jaqueta1-text2, #jaqueta2-text2, #jaqueta3-text2 {
    margin-top: 2px;
    margin-left: 30px;
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 15px;
}

#capacete1-text3, #capacete2-text3 {
    margin-top: 5px;
    margin-left: 20px;
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 15px;
}

#jaqueta1-text3, #jaqueta2-text3, #jaqueta3-text3 {
    margin-top: 5px;
    margin-left: 20px;
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 15px;
}

@media (min-width:1050px) and (max-width:1300px) {

    header {
        width: 100%;
    }

    .linha1-left {
        margin-left: -75px;
    }

    .linha1-rigth {
        margin-left: -35px;
    }

    #img-icon6 {
        margin-right: 10px;
    }

}



@media (min-width:375px) and (max-width:400px) {
    
    * {
        margin: 0;
    }

 
    header {
        min-height: 180px;
        display: flex;
        flex-direction: column;
    }

    .linha1-left {
        height: 120px;
        background-color: rgb(163, 163, 162);
        background-color: white;
    }

    
    img {
        margin-left: 130px;
    }

    ul {
        margin: 0;
    }

   
    #img-icon1 {
        margin-left: -15px;
    }

    #img-icon2 {
       margin-left: 80px;
    }

    #img-icon3 {
        margin-left: 80px;
    }

    #img-icon4 {
        margin-left: -15px;
    }

    #img-icon5 {
       margin-left: 80px;
    }

    #img-icon6 {
        margin-left: 70px;
    }

    .teste1 {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }

    .linha2-mobile {
        display: flex;
        flex-direction: row;
    }

    .teste2 {
        display: flex;
        flex-direction: row;
    }

    .teste3 {
        display: flex;
        flex-direction: row;
        margin-top: 5px;
    }

    .menu-space ul {
        margin: 0;
        width: 89.5%;
        margin-right: 0px;
        min-height: 80px;
        background-color: rgb(163, 163, 162);
        box-shadow: 0 0 0.1em black;
        align-items: center;
        background-color: white;
    }

    .produto1-space, .produto2-space, .produto3-space, .produto4-space {
        margin-top: 30px;
        margin-left: 80px;
        height: 350px;
        width: 220px;
        display: flex;
        flex-direction: column;
    }

    #produto1-img, #produto2-img, #produto3-img {
        margin-left: -15px;
        height: 250px;
        width: 250px;
    }

    #produto4-img {
        margin-left: -25px;
        height: 250px;
        width: 250px;
    }

    #produto4-text1 {
        margin-top: 10px;
        margin-left: 40px;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 20px;
    }
    
    #produto1-text1, #produto2-text1, #produto3-text1 {
        margin-top: 10px;
        margin-left: 50px;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 20px;
    }
    
    #produto1-text2, #produto2-text2, #produto3-text2 {
        margin-top: 2px;
        margin-left: 70px;
        font-family: 'Kaisei HarunoUmi', serif;
        font-size: 15px;
    }

    #produto4-text2 {
        margin-top: 2px;
        font-family: 'Kaisei HarunoUmi', serif;
        font-size: 15px;
        margin-left: 50px;
    }
    
    #produto1-text3, #produto2-text3, #produto3-text3 {
        margin-top: 5px;
        margin-left: 60px;
        font-family: 'Kaisei HarunoUmi', serif;
        font-size: 15px;
    }

    #produto4-text3 {
        margin-top: 5px;
        margin-left: 40px;
        font-family: 'Kaisei HarunoUmi', serif;
        font-size: 15px;
    }

   

    #inspir {
        margin-top: 50px;
        margin-left: 130px;
        margin-bottom: 10px;
    }

    .w3-content {
        height: 150px;
        width: 80%;
        margin-left: -90px;
    }

    .w3-center {
        margin-left: 95px;
        margin-top: 70px;
    }
    
    #divisoria {
        width: 80%;
        margin-left: 40px;
        margin-top: 15px;
        height: 2px;
        left: 16px;
        border: 1px solid #726868;
        box-shadow: 0 0 0.1em black;
    }

    #text-sonho {
        margin-top: 25px;
        width: 80%;
        height: 40px;
        font-size: 25px;
        text-align: center;
        margin-left: 30px;
    }

    .linha3, .linha4, .linha5 {
        display: flex;
        flex-direction: column;
        min-height: 500px;
    }


   
    
}
