* {
    margin: 0;
}


header {
    display: flex;
    height: 100px;
    width: 100%;
    
}

.linha1-left {
    flex: 1;
    background-color: royalblue;
}

.linha1-rigth {
    flex: 4;
    background-color: red;
}

.menu-space ul {
    justify-content: center;
    align-items: center;
    display: flex;
    list-style: none;
    margin-top: 30px;
}

#img-icon1 {
    width: 50px;
    height: 50px;
    margin-left: -100px;
}

.menu-space li {
    margin: 0 10px;
}

img {
    margin-left: 50px;
}

section {
    height: 100vh;
    width: 100%;
    background-color: blue;
}


